# dotenv environment variable files
.env

# Next.js build output
.next
next-env.d.ts

# Node modules
node_modules

# TypeScript cache
*.tsbuildinfo

# Local testing files and mock data
scripts
data

# Secret Ingredient
secret_ingredient.*

